{% extends "layouts/base.twig" %}

{% block title %}
    {{ book.title }} - {{ book.author }}
{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <h2>{{ book.author }}</h2>
    <h3>{{ chapter.name }}</h3>

    {# Book`s page html text #}
    <div class="page-content" style="border: 1px solid black">
        {{ page.data }}
    </div>

    {# Navigation #}
    <div class="navigation">
        {% if prev_page %}
            <a href="/detail/read/?id={{ book.id }}&chapter={{ prev_page.chapter }}&page_number={{ prev_page.number }}"
               class="prev">
                {{ lang.prev }}
            </a>
        {% endif %}

        {% if next_page %}
            <a href="/detail/read/?id={{ book.id }}&chapter={{ next_page.chapter }}&page_number={{ next_page.number }}"
               class="next">
                {{ lang.next }}
            </a>
        {% endif %}
    </div>


    {{ parent() }}
{% endblock %}